@import './reset.less';

@images: "../assets";
@page-width: 1000px;
@page-height: 1130px;
@chapter-title-font-size: 1.8em;


*, *:before, *:after {
  box-sizing: border-box;
}

// Vendor Prefixes
.flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.transform-translate(@X: 0, @Y: 0) {
    -webkit-transform: translate(@X, @Y);
    -ms-transform: translate(@X, @Y);
    transform: translate(@X, @Y);
}

// universals

.input {
    margin: 10px 0 0 10%;

    &:before {
        content: "Input:";
        font-weight: bold;
        margin-right: 5px;
    }
}

.output {
    margin: 10px 0 10px 10%;

    &:before {
        content: "Output:";
        font-weight: bold;
        margin-right: 5px;
    }
}

.section-title-page {
    position: relative;
    height: @page-height;
    width: 100%;
    max-width: 1000px;
    border-top: 12px solid black;
    margin: 20px auto;

    .section-title {
        position: absolute;
        font-size: 2em;
        top: 30%;
        width: 100%;
        padding: 15px 0;
        border-top: 1px solid black;
        font-weight: bold;
    }
}

.appendix-title {
    width: 100%;
    height: 300px;
    font-size: 2em;
}

.citations {
    border-top: 1px solid black;
    padding: 20px 0;
    width: 90%;
    margin: auto auto auto 10%;

    .citation {
        .first-paragraph;
        width: 90%;
        margin: auto;
    }
}

sup { vertical-align: top; position: relative; top: -0.34em; font-size: .7em;}
sub { vertical-align: bottom; position: relative; bottom: -0.5ex; font-size: .7em}

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.epsilon {
    position: relative;
    vertical-align: bottom;
    bottom: -0.5ex;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: top;
  top: -0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.paragraph {
    margin: 0 0 0 10%;
    width: 90%;
    line-height: 1.2em;
    text-indent: 1.5em;
    text-align: justify;
    padding: 2px 0;
}

.first-paragraph {
    .paragraph;
    text-indent: 0;
}

.bold-sub-header {
    font-weight: bold;
    margin: 20px auto;
    width: 80%;
}

.list() {
    text-align: justify;
    width: 88.5%;
    padding: 0;
    margin: 10px auto 10px 11.5%;
    line-height: 1.2em;

    li {
        margin: 10px auto;

        .list-item {
            display: block;
            margin-left: 10px;
        }
    }
}

.numbered-list {
    .list();
}

.bulleted-list {
    .list();
    list-style-type: disc;
}

// Content 

#wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.contents-tab {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    height: 60px;
    font-size: 1.8em;
    background: rgba(0,0,0,.7);
    color: white;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    border-radius: 15px 0 0 15px;
}

#cover-img {
    background-repeat: no-repeat;
    background-image: url('@{images}/cover-image.png');
    background-position: 50% 50%;
    background-size: contain;
    width: 100%;
    height: 87vw;
    max-height: 1130;
    margin: 0 auto 20px auto;
}

.title-container {
    position: relative;
    width: 100%;
    height: 87vw;
    max-height: 1130px;
    border-top: 12px solid black;
    margin: 20px auto;

    .author-list {
        font-size: 1.1em;
        .flexbox();
        flex-direction: column;
        margin-top: 15px;

        .author {
            margin-top: 5px;
        }
    }

    .title {
        position: absolute;
        font-size: 2em;
        top: 30%;
        left: 30%;
        width: 70%;
        padding: 15px 5px;
        border-top: 1px solid black;
        font-weight: bold;
        .sub-title {
            font-size: .8em;
            padding: 10px 0 0 0;
            font-style: italic;
        }
    }

    .intro-bottom-info {
        position: absolute;
        left: 20%;
        bottom: 50px;
        line-height: 20px;
    }
}

.copy-right-info {
    position: relative;
    width: 100%;
    height: 87vw;
    max-height: 1130;
    margin: 20px auto;

    .info {
        position: absolute;
        left: 50%;
        top: 50%;
        .transform-translate(-50%, -50%);
        .flexbox();
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        font-size: .9em;

        .info-section {
            margin: 8px;
        }

        .left-indent {
            margin: 0 0 0 5%;
        }
        
        .one {
            margin-top: 16px;
            margin-bottom: 2px;
        }

        .two {
            margin-top: 2px;
        }

        .three {
            margin-left: 60%;
        }

        .four {
            letter-spacing: 3px;
        }
    }
}

.table-of-contents {
    position: relative;
    width: 100%;
    margin: 20px auto;
    
    .preface {
        display: block;
        margin: 0 0 20px 200px;
        font-weight: bold;
        counter-reset: sectionTitles;
    }

    .chapter {

        border-top: 3px solid black;
        padding: 5px 0;
        

        .chapter-title {
            font-weight: bold;
            font-style: italic;
            margin-bottom: 10px;
            font-size: 1.1em;
        }

        .chapter-interior {
            border-top: 1px solid black;
            padding: 5px 0;
            width: 85%;
            margin-left: 15%;

            .intro {
                margin-left: 10px;
                font-weight: bold;
            }

            .chapter-section-title {
                font-weight: bold;

            }

            .chapter-section {
                

                .chapter-section-title {
                    counter-reset: sectionSubTitles;
                    margin-top: 10px;

                    .section-number {
                        margin-right: 20px;
                        &:before {
                            counter-increment: sectionTitles;
                            content: counter(sectionTitles) ' '
                        }
                    }

                    &:hover {
                        opacity: .6;
                    }
                }
                

                .chapter-section-sub-title {
                    margin: 3px 0 3px 33px;

                    &:before {
                        counter-increment: sectionSubTitles;
                        content: counter(sectionTitles) '.' counter(sectionSubTitles) ' '
                    }

                    &:hover {
                        opacity: .8;
                    }
                }
            }

            
        }

    }
}

.appendix-preface {
    position: relative;
    width: 100%;
    margin: 20px auto;

    #preface-authors {
        width: 90%;
        margin: 20px auto 20px 10%;
        .flexbox();
        justify-content: space-between;
        line-height: 1.2em;

        .authors, .locations {
            .flexbox();
            flex-direction: column;
        }
    }

    #preface-date {
        width: 90%;
        margin: 30px auto 30px 10%;
    }
}

.sections {
    
    .section-intro {
        margin-top: @page-height*.3;
        width: 100%;
        margin: auto;
        counter-reset: chapters;
        
        .title {
            font-size: 2em;
            width: 100%;
            padding: 15px 0;
            border-top: 1px solid black;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }

    .chapter {
        text-align: justify;
        counter-reset: subChapters;
        position: relative;
        width: 100%;
        margin: auto;

        .chapter-title-container {
            width: 100%;
            border-top: 12px solid black;
            margin: 50px auto 0 auto;

            .title {
                font-size: @chapter-title-font-size;
                margin: 20px auto;
                height: 250px;
                text-align: left;
                
                &:before {
                    counter-increment: chapters;
                    content: counter(chapters);
                    width: 10%;
                    display: inline-block;
                }
                
            }

        }

        .sub-chapter {
            position: relative;
            width: 100%;
            counter-reset: exercises;
            counter-reset: figures;
            margin-top: 50px;

            .sub-chapter-title {
                width: 100%;
                border-top: 1px solid black;
                padding: 10px 0;
                margin: auto;
                margin-bottom: 30px;
                font-size: 1.1em;

                &:before {
                    counter-increment: subChapters;
                    content: counter(chapters)'.'counter(subChapters);
                    width: 5%;
                    display: inline-block;
                }
            }

            .chapter-paragraph {
                .paragraph;
                margin: 0 0 0 10%;
                width: 90%;
            }

            .chapter-first-paragraph {
                .paragraph;
                .first-paragraph;
                margin: 0 0 0 10%;
                width: 90%;
            }

            .chapter-sub-header {
                font-weight: bold;
                margin: 20px 0;
                margin-left: 10%;
                width: 90%;
            }

            
            .exercise:extend(.first-paragraph) {
                &:not(:nth-child(2)) {
                    margin: 10px 0 10px 10%;
                }

                &::before {
                    counter-increment: exercises;
                    content: counter(chapters)'.'counter(subChapters)"-"counter(exercises);
                    display: block;
                    font-weight: bold;
                    font-style: italic;
                    font-size: 1.1em;
                }
            }

            .problems {
                margin: 20px auto;
                width: 100%;
                counter-reset: problems;

                .title {
                    width: 100%;
                    border-top: 1px solid black;
                    font-size: 1.4em;
                    font-weight: bold;
                    padding: 5px 0;
                    margin-bottom: 15px;
                }

                .problem-title:extend(.first-paragraph) {
                    font-weight: bold;
                    font-style: italic;

                    &::before {
                        counter-increment: problems;
                        content: counter(chapters)"-"counter(problems);
                        display: inline-block;
                        width: 5%;
                    }
                }

                .problem:extend(.first-paragraph) {}

                .table1 {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 20px 0;
                    width: 90%;
                    position: relative;
                    left: 10%;
                    font-size: 1.2em;
                    word-wrap: normal;
                    text-align: center;
                    line-height: 40px;

                    .table1-cell {
                        box-sizing: border-box;
                        flex-grow: 1;
                        border-right: 1px solid black;
                        border-bottom: 1px solid black;
                        height: 40px;
                        width: 12.5%;

                        & > span {
                            position: relative;
                        }

                        .mjx-chtml, .MJXc-display {
                            margin: 0;
                            text-align: center;
                            display: inline-block;
                            position: relative;
                            top: 25%;
                        }
                    }

                }
                
            }

            .figure {
                margin: 10px 0 10px 10%;
                width: 90%;
                .figure-caption {
                    padding: 30px 0 5px 0;
                    &::before {
                        counter-increment: figures;
                        content: 'Figure 'counter(chapters)'.'counter(figures);
                        font-weight: bold;
                    }

                    & > span {
                        margin-left: 10px;
                    }
                }
            }

            .chapter-notes {
                
                .chapter-notes-title {
                    width: 100%;
                    border-top: 1px solid black;
                    font-size: 1.4em;
                    font-weight: bold;
                    padding: 5px 0;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .title-container {
        .author-list {
            font-size: .7em;
        }
        .title {
            left: 0;
            width: 100%;
            text-align: center;
            font-size: 1.1em;
            padding: 5px;

            .sub-title {
                font-size: .7em;
                padding-top: 3px;
            }
        }
        .intro-bottom-info {
            font-size: .8em;
        }
    }

    .copy-right-info {
        .info {
            width: 100%;
            font-size: .6em;

            .info-section {
                margin: 4px;  
            }
        }
    }

    .table-of-contents {
        .appendix-title {
            height: 70px;
            font-size: 1.3em;
            text-align: center;
        }
        .preface {
            text-align: right;
            margin: 0 0 10px 0;
        }
    }

    .appendix {
        .appendix-title {
            height: 70px;
            font-size: 1.3em;
            text-align: center;
        }

        #preface-authors {
            font-size: .7em;
        }
    }

    .bulleted-list {
        margin-left: 15.5%;
        width: 84.5%;
        li > .list-item {
            margin-left: 5px;
        }
    }
    
    .sections {
        .section-title-page > .section-title, .section-intro > .title {
            font-size: 1.1em;
        }
        
        .chapter {
            .chapter-title-container {
                .title {
                    left: 0;
                    width: 100%;
                    font-size: 1.1em;
                    height: 50px;
                }
            }

            .sub-chapter > .sub-chapter-title > b {
                margin-left: 10px;
            }
        }
    }
}